:where(input) {
  padding: 8px !important;
  background-color: #374151 !important;
  color: white !important;
}

select, option {
  width: 100% !important;
  padding: 8px !important;
  border-radius: 4px !important;
  border: 1px solid #000 !important;
  background-color: #374151 !important;
  color: white !important;
}